#### downdoad pandas and pyarrow

In [3]:
%pip install pandas
%pip install pyarrow

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (22.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

### Laod Dataset

In [4]:
file_path = "../data/row/fhvhv_tripdata_2021-10.parquet"
import pandas as pd

df = pd.read_parquet(file_path)

### Check the data

In [5]:
df.shape

(16545356, 24)

In [6]:
df.count()

hvfhs_license_num       16545356
dispatching_base_num    16545356
originating_base_num    12091040
request_datetime        16545356
on_scene_datetime       12091654
pickup_datetime         16545356
dropoff_datetime        16545356
PULocationID            16545356
DOLocationID            16545356
trip_miles              16545356
trip_time               16545356
base_passenger_fare     16545356
tolls                   16545356
bcf                     16545356
sales_tax               16545356
congestion_surcharge    16545356
airport_fee             16545356
tips                    16545356
driver_pay              16545356
shared_request_flag     16545356
shared_match_flag       16545356
access_a_ride_flag      16545356
wav_request_flag        16545356
wav_match_flag          16545356
dtype: int64

In [7]:
df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,B02764,2021-10-01 00:28:52,2021-10-01 00:32:58,2021-10-01 00:33:31,2021-10-01 01:07:51,68,85,12.790,...,3.15,2.75,0.0,7.47,33.23,N,N,,N,N
1,HV0005,B03406,None,2021-10-01 00:55:47,NaT,2021-10-01 00:59:17,2021-10-01 01:22:14,48,265,6.472,...,0.00,0.00,0.0,0.00,33.16,N,N,N,N,N
2,HV0003,B02864,B02864,2021-10-01 00:28:02,2021-10-01 00:30:36,2021-10-01 00:38:49,2021-10-01 00:49:23,97,65,1.000,...,0.88,0.00,0.0,0.00,7.38,N,N,,N,N
3,HV0003,B02835,B02835,2021-10-01 00:15:17,2021-10-01 00:22:13,2021-10-01 00:23:25,2021-10-01 00:32:29,68,137,1.940,...,2.39,2.75,0.0,0.00,15.10,N,N,,N,N
4,HV0003,B02835,B02835,2021-10-01 00:30:53,2021-10-01 00:36:25,2021-10-01 00:38:26,2021-10-01 01:18:00,164,265,11.470,...,0.00,0.00,0.0,0.00,35.70,N,N,,N,N

In [8]:
df.describe()

,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,16545356,12091654,16545356,16545356,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07
mean,2021-10-16 23:22:11.354633,2021-10-17 01:14:33.769712,2021-10-16 23:27:08.593805,2021-10-16 23:46:27.748374,1.387978e+02,1.425625e+02,4.877275e+00,1.168755e+03,2.266084e+01,1.053219e+00,7.116322e-01,1.933251e+00,1.171446e+00,1.626970e-01,1.011932e+00,1.884818e+01
min,2021-09-30 23:19:20,2021-09-30 23:52:09,2021-10-01 00:00:00,2021-10-01 00:02:20,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-2.294700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.133000e+01
25%,2021-10-09 00:47:16,2021-10-09 03:40:10,2021-10-09 00:52:29,2021-10-09 01:08:25,7.500000e+01,7.600000e+01,1.630000e+00,6.110000e+02,1.143000e+01,0.000000e+00,3.400000e-01,9.500000e-01,0.000000e+00,0.000000e+00,0.000000e+00,9.750000e+00
50%,2021-10-16 21:42:22,2021-10-16 23:11:05,2021-10-16 21:49:10,2021-10-16 22:06:10,1.400000e+02,1.420000e+02,3.000000e+00,9.590000e+02,1.793000e+01,0.000000e+00,5.400000e-01,1.530000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.505000e+01
75%,2021-10-24 17:14:59,2021-10-24 17:55:50,2021-10-24 17:19:19,2021-10-24 17:40:05,2.110000e+02,2.190000e+02,6.033000e+00,1.486000e+03,2.789000e+01,0.000000e+00,8.700000e-01,2.440000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.350000e+01
max,2021-11-01 00:10:00,2021-10-31 23:59:59,2021-10-31 23:59:59,2021-11-01 02:22:01,2.650000e+02,2.650000e+02,3.928500e+02,1.684770e+05,1.885140e+03,1.081000e+02,6.155000e+01,1.691700e+02,1.100000e+01,6.400000e+00,4.000000e+02,1.145450e+03
std,NaN,NaN,NaN,NaN,7.536166e+01,7.807980e+01,5.501920e+00,8.521446e+02,1.776876e+01,3.699368e+00,6.066836e-01,1.525886e+00,1.371004e+00,6.195806e-01,2.980326e+00,1.402639e+01

In [33]:
df.describe(include="all")

,hvfhs_license_num,dispatching_base_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,wav_request_flag,wav_match_flag,row_id
count,16545356,16545356,16545356,16545356,16545356,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,...,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07
unique,3,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,HV0003,B03404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,12086389,6479702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2021-10-16 23:22:11.354633,2021-10-16 23:27:08.593805,2021-10-16 23:46:27.748374,1.387978e+02,1.425625e+02,4.877275e+00,1.168755e+03,2.266084e+01,...,1.933251e+00,1.171446e+00,1.626970e-01,1.011932e+00,1.884818e+01,1.524234e-03,6.120751e-04,1.091182e-03,5.357618e-02,8.272678e+06
min,NaN,NaN,2021-09-30 23:19:20,2021-10-01 00:00:00,2021-10-01 00:02:20,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-2.294700e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.133000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,2021-10-09 00:47:16,2021-10-09 00:52:29,2021-10-09 01:08:25,7.500000e+01,7.600000e+01,1.630000e+00,6.110000e+02,1.143000e+01,...,9.500000e-01,0.000000e+00,0.000000e+00,0.000000e+00,9.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.136339e+06
50%,NaN,NaN,2021-10-16 21:42:22,2021-10-16 21:49:10,2021-10-16 22:06:10,1.400000e+02,1.420000e+02,3.000000e+00,9.590000e+02,1.793000e+01,...,1.530000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.505000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.272678e+06
75%,NaN,NaN,2021-10-24 17:14:59,2021-10-24 17:19:19,2021-10-24 17:40:05,2.110000e+02,2.190000e+02,6.033000e+00,1.486000e+03,2.789000e+01,...,2.440000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.350000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.240902e+07
max,NaN,NaN,2021-11-01 00:10:00,2021-10-31 23:59:59,2021-11-01 02:22:01,2.650000e+02,2.650000e+02,3.928500e+02,1.684770e+05,1.885140e+03,...,1.691700e+02,1.100000e+01,6.400000e+00,4.000000e+02,1.145450e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.654536e+07
std,NaN,NaN,NaN,NaN,NaN,7.536166e+01,7.807980e+01,5.501920e+00,8.521446e+02,1.776876e+01,...,1.525886e+00,1.371004e+00,6.195806e-01,2.980326e+00,1.402639e+01,3.901168e-02,2.473258e-02,3.301502e-02,2.251794e-01,4.776233e+06

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16545356 entries, 0 to 16545355
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   originating_base_num  object
 3   request_datetime      datetime64[us]
 4   on_scene_datetime     datetime64[us]
 5   pickup_datetime       datetime64[us]
 6   dropoff_datetime      datetime64[us]
 7   PULocationID          int64
 8   DOLocationID          int64
 9   trip_miles            float64
 10  trip_time             int64
 11  base_passenger_fare   float64
 12  tolls                 float64
 13  bcf                   float64
 14  sales_tax             float64
 15  congestion_surcharge  float64
 16  airport_fee           float64
 17  tips                  float64
 18  driver_pay            float64
 19  shared_request_flag   object
 20  shared_match_flag     object
 21  access_a_ride_flag    object
 22  wav_request_flag      object
 23  wav_match_flag        object
dtypes: datetime64[us](4), float64(9), int64(3), object(8)
memory usage: 3.0+ GB

In [10]:
df.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag'],
      dtype='object')

In [11]:
df.isnull()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16545351,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16545352,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16545353,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16545354,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16545355,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isna().sum()

hvfhs_license_num             0
dispatching_base_num          0
originating_base_num    4454316
request_datetime              0
on_scene_datetime       4453702
pickup_datetime               0
dropoff_datetime              0
PULocationID                  0
DOLocationID                  0
trip_miles                    0
trip_time                     0
base_passenger_fare           0
tolls                         0
bcf                           0
sales_tax                     0
congestion_surcharge          0
airport_fee                   0
tips                          0
driver_pay                    0
shared_request_flag           0
shared_match_flag             0
access_a_ride_flag            0
wav_request_flag              0
wav_match_flag                0
dtype: int64

In [13]:
empty_str_count = (df== '').sum()
print("Empty strings:", empty_str_count)

Empty strings: hvfhs_license_num       0
dispatching_base_num    0
originating_base_num    0
request_datetime        0
on_scene_datetime       0
pickup_datetime         0
dropoff_datetime        0
PULocationID            0
DOLocationID            0
trip_miles              0
trip_time               0
base_passenger_fare     0
tolls                   0
bcf                     0
sales_tax               0
congestion_surcharge    0
airport_fee             0
tips                    0
driver_pay              0
shared_request_flag     0
shared_match_flag       0
access_a_ride_flag      0
wav_request_flag        0
wav_match_flag          0
dtype: int64

In [14]:
df['access_a_ride_flag'].value_counts()

access_a_ride_flag
     12086389
N     4458967
Name: count, dtype: int64

In [15]:
df['wav_request_flag'].value_counts()

wav_request_flag
N    16527302
Y       18054
Name: count, dtype: int64

In [16]:
mask = (df['access_a_ride_flag'].notnull()) & (df['access_a_ride_flag'] != 'N') & (df['access_a_ride_flag'] != 'Y')

# Filter rows
filtered_df = df[mask]
filtered_df['access_a_ride_flag'].count()

np.int64(12086389)

In [17]:
df.duplicated().sum()

np.int64(0)

### Type data

In [18]:
dt_cols = ['request_datetime',	'pickup_datetime',	'dropoff_datetime','on_scene_datetime']
df[dt_cols] = df[dt_cols].apply(pd.to_datetime,errors='coerce')

In [19]:
float_cols = ['trip_miles', 'base_passenger_fare', 'tolls', 
              'bcf', 'sales_tax', 'congestion_surcharge', 
              'airport_fee', 'tips', 'driver_pay']

df[float_cols]=df[float_cols].astype(float)

In [20]:
int_cols = ['PULocationID', 'DOLocationID','trip_time']
df[int_cols] = df[int_cols].astype(int)

### Drop columns that we don't need

In [21]:
df['access_a_ride_flag'].value_counts()

access_a_ride_flag
     12086389
N     4458967
Name: count, dtype: int64

In [22]:
df = df.drop(columns=['access_a_ride_flag'])

In [23]:
df[['originating_base_num','on_scene_datetime']].isna().sum()

originating_base_num    4454316
on_scene_datetime       4453702
dtype: int64

In [24]:
df = df.drop(columns=['originating_base_num', 'on_scene_datetime'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16545356 entries, 0 to 16545355
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   request_datetime      datetime64[us]
 3   pickup_datetime       datetime64[us]
 4   dropoff_datetime      datetime64[us]
 5   PULocationID          int64
 6   DOLocationID          int64
 7   trip_miles            float64
 8   trip_time             int64
 9   base_passenger_fare   float64
 10  tolls                 float64
 11  bcf                   float64
 12  sales_tax             float64
 13  congestion_surcharge  float64
 14  airport_fee           float64
 15  tips                  float64
 16  driver_pay            float64
 17  shared_request_flag   object
 18  shared_match_flag     object
 19  wav_request_flag      object
 20  wav_match_flag        object
dtypes: datetime64[us](3), float64(9), int64(3), object(6)
memory usage: 2.6+ GB

In [26]:
df.head()

,hvfhs_license_num,dispatching_base_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,...,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,2021-10-01 00:28:52,2021-10-01 00:33:31,2021-10-01 01:07:51,68,85,12.790,2060,35.49,...,1.06,3.15,2.75,0.0,7.47,33.23,N,N,N,N
1,HV0005,B03406,2021-10-01 00:55:47,2021-10-01 00:59:17,2021-10-01 01:22:14,48,265,6.472,1396,48.15,...,2.04,0.00,0.00,0.0,0.00,33.16,N,N,N,N
2,HV0003,B02864,2021-10-01 00:28:02,2021-10-01 00:38:49,2021-10-01 00:49:23,97,65,1.000,634,9.92,...,0.30,0.88,0.00,0.0,0.00,7.38,N,N,N,N
3,HV0003,B02835,2021-10-01 00:15:17,2021-10-01 00:23:25,2021-10-01 00:32:29,68,137,1.940,544,26.91,...,0.81,2.39,2.75,0.0,0.00,15.10,N,N,N,N
4,HV0003,B02835,2021-10-01 00:30:53,2021-10-01 00:38:26,2021-10-01 01:18:00,164,265,11.470,2374,48.59,...,2.06,0.00,0.00,0.0,0.00,35.70,N,N,N,N

### Improving data format

In [27]:
flag_cols = ['shared_request_flag','shared_match_flag', 'wav_request_flag',	'wav_match_flag']
df[flag_cols]= df[flag_cols].replace({'N':0,'Y':1})

C:\Users\Admin\AppData\Local\Temp\ipykernel_29556\1862573055.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[flag_cols]= df[flag_cols].replace({'N':0,'Y':1})

In [28]:
df['hvfhs_license_num'] = df['hvfhs_license_num'].str.upper().str.strip()
df['hvfhs_license_num'].head()

0    HV0003
1    HV0005
2    HV0003
3    HV0003
4    HV0003
Name: hvfhs_license_num, dtype: object

In [29]:
df['dispatching_base_num'] = df['dispatching_base_num'].str.upper().str.strip()
df['dispatching_base_num'].head()

0    B02764
1    B03406
2    B02864
3    B02835
4    B02835
Name: dispatching_base_num, dtype: object

### Add Index(primary key)

In [30]:
df["row_id"] = df.index

In [31]:
df.head()

,hvfhs_license_num,dispatching_base_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,wav_request_flag,wav_match_flag,row_id
0,HV0003,B02764,2021-10-01 00:28:52,2021-10-01 00:33:31,2021-10-01 01:07:51,68,85,12.790,2060,35.49,...,3.15,2.75,0.0,7.47,33.23,0,0,0,0,0
1,HV0005,B03406,2021-10-01 00:55:47,2021-10-01 00:59:17,2021-10-01 01:22:14,48,265,6.472,1396,48.15,...,0.00,0.00,0.0,0.00,33.16,0,0,0,0,1
2,HV0003,B02864,2021-10-01 00:28:02,2021-10-01 00:38:49,2021-10-01 00:49:23,97,65,1.000,634,9.92,...,0.88,0.00,0.0,0.00,7.38,0,0,0,0,2
3,HV0003,B02835,2021-10-01 00:15:17,2021-10-01 00:23:25,2021-10-01 00:32:29,68,137,1.940,544,26.91,...,2.39,2.75,0.0,0.00,15.10,0,0,0,0,3
4,HV0003,B02835,2021-10-01 00:30:53,2021-10-01 00:38:26,2021-10-01 01:18:00,164,265,11.470,2374,48.59,...,0.00,0.00,0.0,0.00,35.70,0,0,0,0,4

### Connect with mongoDB

In [32]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (4.15.4)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pymongo) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

### convert to jeson

In [ ]:
df.to_json('../data/processed/trips.json', orient='records', lines=True)