In [ ]:
#check if we are running inside the correct virtual environment.
import sys
print(sys.executable)

c:\Users\dell\Downloads\projet BDD\fhv-tripdata-mongodb-optimization\venv\Scripts\python.exe

## Extract Data

In [2]:
import pandas as pd
import pyarrow.parquet as pq

In [4]:
trips = pq.read_table('../data/row/fhvhv_tripdata_2021-10.parquet')
trips = trips.to_pandas()

## Explore Data

In [10]:
trips.describe()

,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,16545356,12091654,16545356,16545356,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07,1.654536e+07
mean,2021-10-16 23:22:11.354633,2021-10-17 01:14:33.769712,2021-10-16 23:27:08.593805,2021-10-16 23:46:27.748374,1.387978e+02,1.425625e+02,4.877275e+00,1.168755e+03,2.266084e+01,1.053219e+00,7.116322e-01,1.933251e+00,1.171446e+00,1.626970e-01,1.011932e+00,1.884818e+01
min,2021-09-30 23:19:20,2021-09-30 23:52:09,2021-10-01 00:00:00,2021-10-01 00:02:20,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-2.294700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.133000e+01
25%,2021-10-09 00:47:16,2021-10-09 03:40:10,2021-10-09 00:52:29,2021-10-09 01:08:25,7.500000e+01,7.600000e+01,1.630000e+00,6.110000e+02,1.143000e+01,0.000000e+00,3.400000e-01,9.500000e-01,0.000000e+00,0.000000e+00,0.000000e+00,9.750000e+00
50%,2021-10-16 21:42:22,2021-10-16 23:11:05,2021-10-16 21:49:10,2021-10-16 22:06:10,1.400000e+02,1.420000e+02,3.000000e+00,9.590000e+02,1.793000e+01,0.000000e+00,5.400000e-01,1.530000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.505000e+01
75%,2021-10-24 17:14:59,2021-10-24 17:55:50,2021-10-24 17:19:19,2021-10-24 17:40:05,2.110000e+02,2.190000e+02,6.033000e+00,1.486000e+03,2.789000e+01,0.000000e+00,8.700000e-01,2.440000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.350000e+01
max,2021-11-01 00:10:00,2021-10-31 23:59:59,2021-10-31 23:59:59,2021-11-01 02:22:01,2.650000e+02,2.650000e+02,3.928500e+02,1.684770e+05,1.885140e+03,1.081000e+02,6.155000e+01,1.691700e+02,1.100000e+01,6.400000e+00,4.000000e+02,1.145450e+03
std,NaN,NaN,NaN,NaN,7.536166e+01,7.807980e+01,5.501920e+00,8.521446e+02,1.776876e+01,3.699368e+00,6.066836e-01,1.525886e+00,1.371004e+00,6.195806e-01,2.980326e+00,1.402639e+01

In [11]:
trips.dtypes

hvfhs_license_num               object
dispatching_base_num            object
originating_base_num            object
request_datetime        datetime64[us]
on_scene_datetime       datetime64[us]
pickup_datetime         datetime64[us]
dropoff_datetime        datetime64[us]
PULocationID                     int64
DOLocationID                     int64
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag             object
shared_match_flag               object
access_a_ride_flag              object
wav_request_flag                object
wav_match_flag                  object
dtype: object

In [12]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16545356 entries, 0 to 16545355
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   originating_base_num  object
 3   request_datetime      datetime64[us]
 4   on_scene_datetime     datetime64[us]
 5   pickup_datetime       datetime64[us]
 6   dropoff_datetime      datetime64[us]
 7   PULocationID          int64
 8   DOLocationID          int64
 9   trip_miles            float64
 10  trip_time             int64
 11  base_passenger_fare   float64
 12  tolls                 float64
 13  bcf                   float64
 14  sales_tax             float64
 15  congestion_surcharge  float64
 16  airport_fee           float64
 17  tips                  float64
 18  driver_pay            float64
 19  shared_request_flag   object
 20  shared_match_flag     object
 21  access_a_ride_flag    object
 22  wav_request_flag      object
 23  wav_match_flag        object
dtypes: datetime64[us](4), float64(9), int64(3), object(8)
memory usage: 3.0+ GB

In [13]:
trips.value_counts()

hvfhs_license_num  dispatching_base_num  originating_base_num  request_datetime     on_scene_datetime    pickup_datetime      dropoff_datetime     PULocationID  DOLocationID  trip_miles  trip_time  base_passenger_fare  tolls  bcf   sales_tax  congestion_surcharge  airport_fee  tips   driver_pay  shared_request_flag  shared_match_flag  access_a_ride_flag  wav_request_flag  wav_match_flag
HV0003             B02395                B02395                2021-09-30 23:57:18  2021-10-01 00:04:17  2021-10-01 00:04:49  2021-10-01 00:13:40  48            186           1.160       531        14.23                0.00   0.00  0.00       2.75                  0.0          3.00   0.00        N                    N                                      N                 Y                 1
                                                               2021-09-30 23:57:23  2021-10-01 00:00:00  2021-10-01 00:02:01  2021-10-01 00:20:43  230           113           3.330       1122       24.36                0.00   0.00  0.00       2.75                  0.0          0.00   15.81       N                    N                                      N                 N                 1
                                                               2021-09-30 23:57:54  2021-10-01 00:02:13  2021-10-01 00:02:35  2021-10-01 00:16:07  170           158           2.450       812        14.04                0.00   0.00  0.00       2.75                  0.0          3.00   9.65        N                    N                                      N                 N                 1
                                                               2021-09-30 23:58:04  2021-10-01 00:03:50  2021-10-01 00:04:18  2021-10-01 00:20:46  46            20            6.010       988        20.56                0.00   0.00  0.00       0.00                  0.0          0.00   15.13       N                    N                                      N                 N                 1
                                                               2021-09-30 23:58:10  2021-10-01 00:02:09  2021-10-01 00:02:24  2021-10-01 00:29:24  236           233           3.010       1620       22.44                0.00   0.00  0.00       2.75                  0.0          6.96   28.90       N                    N                                      N                 N                 1
                                                                                                                                                                                                                                                                                                                                                                                                        ..
HV0005             B03406                B03406                2021-10-31 22:19:29  2021-10-31 22:21:23  2021-10-31 22:21:33  2021-10-31 22:23:15  26            26            0.258       102        10.43                0.00   0.31  0.93       0.00                  0.0          0.00   20.47       N                    N                  N                   Y                 Y                 1
                                                               2021-10-31 22:24:18  2021-10-31 22:36:23  2021-10-31 22:42:03  2021-10-31 23:19:42  17            168           14.734      2539       54.59                6.19   1.82  5.39       0.00                  0.0          0.00   57.38       N                    N                  N                   Y                 Y                 1
                                                               2021-10-31 22:36:10  2021-10-31 22:45:10  2021-10-31 22:45:47  2021-10-31 23:00:02  170           246           1.785       855        12.73                0.00   0.38  1.13       2.75                  0.0          0.00   24.72       N                    N                  N                   Y                 Y                 1
                                                               2021-10-31 23:09:43  2021-10-31 23:23:32  2021-10-31 23:23:59  2021-10-31 23:35:33  130           205           2.753       694        16.05                0.00   0.48  1.42       0.00                  0.0          0.00   24.76       N                    N                  N                   Y                 Y                 1
                                                               2021-10-31 23:20:11  2021-10-31 23:41:18  2021-10-31 23:41:20  2021-11-01 00:08:32  186           112           4.287       1632       34.32                4.16   1.15  3.42       2.75                  0.0          12.00  34.81       N                    N                  N                   Y                 Y                 1
Name: count, Length: 12091040, dtype: int64

>hvfhs_license_num	Company (Uber/Lyft)

>dispatching_base_num	Base that dispatched the trip

>originating_base_num	Original base that got the request

>request_datetime	When the trip was requested

>on_scene_datetime	Driver arrives

>pickup_datetime	Trip starts

>dropoff_datetime	Trip ends

>PULocationID	Pickup zone

>DOLocationID	Dropoff zone

>trip_miles	Distance

>trip_time	Duration

>base_passenger_fare	Base fare

>tolls	Toll fees

>bcf	Black Car Fund surcharge

>sales_tax	Tax

>congestion_surcharge	NYC congestion fee

>airport_fee	Airport access fee

>tips	Tips

>driver_pay	Driver earnings

>shared_request_flag	Passenger asked for shared ride

>shared_match_flag	Shared ride matched

>access_a_ride_flag	Handicapped program

>wav_request_flag	Wheelchair-accessible vehicle requested

>wav_match_flag	WAV matched

In [14]:
trips.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag'],
      dtype='object')

In [15]:
trips['originating_base_num'].value_counts().count()

np.int64(38)

>isna() and isnull() are aliases

Pandas created both names for convenience.

✔ Both detect missing values:

NaN

None

NaT

empty/null values

In [16]:
trips.isnull().sum()

hvfhs_license_num             0
dispatching_base_num          0
originating_base_num    4454316
request_datetime              0
on_scene_datetime       4453702
pickup_datetime               0
dropoff_datetime              0
PULocationID                  0
DOLocationID                  0
trip_miles                    0
trip_time                     0
base_passenger_fare           0
tolls                         0
bcf                           0
sales_tax                     0
congestion_surcharge          0
airport_fee                   0
tips                          0
driver_pay                    0
shared_request_flag           0
shared_match_flag             0
access_a_ride_flag            0
wav_request_flag              0
wav_match_flag                0
dtype: int64

## Data Cleaning

### Drop Columns

In [17]:
trips.drop(columns=['originating_base_num'],inplace=True,axis=1)

In [18]:
trips.drop(columns=['on_scene_datetime'],inplace=True,axis=1)

In [19]:
trips.drop(columns=['access_a_ride_flag'],inplace=True)

In [20]:
trips.head()

,hvfhs_license_num,dispatching_base_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,...,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,2021-10-01 00:28:52,2021-10-01 00:33:31,2021-10-01 01:07:51,68,85,12.790,2060,35.49,...,1.06,3.15,2.75,0.0,7.47,33.23,N,N,N,N
1,HV0005,B03406,2021-10-01 00:55:47,2021-10-01 00:59:17,2021-10-01 01:22:14,48,265,6.472,1396,48.15,...,2.04,0.00,0.00,0.0,0.00,33.16,N,N,N,N
2,HV0003,B02864,2021-10-01 00:28:02,2021-10-01 00:38:49,2021-10-01 00:49:23,97,65,1.000,634,9.92,...,0.30,0.88,0.00,0.0,0.00,7.38,N,N,N,N
3,HV0003,B02835,2021-10-01 00:15:17,2021-10-01 00:23:25,2021-10-01 00:32:29,68,137,1.940,544,26.91,...,0.81,2.39,2.75,0.0,0.00,15.10,N,N,N,N
4,HV0003,B02835,2021-10-01 00:30:53,2021-10-01 00:38:26,2021-10-01 01:18:00,164,265,11.470,2374,48.59,...,2.06,0.00,0.00,0.0,0.00,35.70,N,N,N,N

In [ ]:
trips['wav_request_flag'].value_counts()

In [ ]:
trips['wav_match_flag'].value_counts()

In [ ]:
trips['shared_request_flag'].value_counts()

In [ ]:
trips['shared_match_flag'].value_counts()

### Repalce boolean columns

In [ ]:
trips.replace({
    'shared_request_flag':{'N':0,'Y':1},
    'wav_match_flag':{'N':0,'Y':1},
    'wav_request_flag':{'N':0,'Y':1},
    'shared_match_flag':{'N':0,'Y':1}
},
inplace=True)

In [ ]:
trips.head()

### Convert data type

In [ ]:
trips.dtypes

hvfhs_license_num               object
dispatching_base_num            object
request_datetime        datetime64[us]
pickup_datetime         datetime64[us]
dropoff_datetime        datetime64[us]
PULocationID                     int64
DOLocationID                     int64
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag              int64
shared_match_flag                int64
wav_request_flag                 int64
wav_match_flag                   int64
dtype: object

In [ ]:
trips.dtypes == 'datetime64[us]'

hvfhs_license_num       False
dispatching_base_num    False
request_datetime         True
pickup_datetime          True
dropoff_datetime         True
PULocationID            False
DOLocationID            False
trip_miles              False
trip_time               False
base_passenger_fare     False
tolls                   False
bcf                     False
sales_tax               False
congestion_surcharge    False
airport_fee             False
tips                    False
driver_pay              False
shared_request_flag     False
shared_match_flag       False
wav_request_flag        False
wav_match_flag          False
dtype: bool

In [ ]:
trips.dtypes == 'int64'

hvfhs_license_num       False
dispatching_base_num    False
request_datetime        False
pickup_datetime         False
dropoff_datetime        False
PULocationID             True
DOLocationID             True
trip_miles              False
trip_time                True
base_passenger_fare     False
tolls                   False
bcf                     False
sales_tax               False
congestion_surcharge    False
airport_fee             False
tips                    False
driver_pay              False
shared_request_flag      True
shared_match_flag        True
wav_request_flag         True
wav_match_flag           True
dtype: bool

In [5]:
for x in trips:
    print(x)

hvfhs_license_num
dispatching_base_num
originating_base_num
request_datetime
on_scene_datetime
pickup_datetime
dropoff_datetime
PULocationID
DOLocationID
trip_miles
trip_time
base_passenger_fare
tolls
bcf
sales_tax
congestion_surcharge
airport_fee
tips
driver_pay
shared_request_flag
shared_match_flag
access_a_ride_flag
wav_request_flag
wav_match_flag

In [ ]:
for x in trips:
    if(trips[x].dtypes == 'datetime64[us]'):
        trips[x] = pd.to_datetime(trips[x])

In [ ]:
for x in trips:
    if(trips[x].dtypes == 'int64'):
        trips[x] = trips[x].astype(int)

In [ ]:
for x in trips:
    if(trips[x].dtypes == 'float64'):
        trips[x] = trips[x].astype(float)

## Add Index

In [ ]:
trips['row_id'] = trips.index